<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limited.sales.user.UserMapper">

    <insert id="save">
        insert into user (user_email, user_password, user_cellphone, user_role, use_yn)
        values (#{user.userEmail}, #{user.userPassword}, #{user.userCellphone}, #{user.userRole}, #{user.useYn})
    </insert>


    <select id="findByUserEmail" resultType="User">
        select user_email, user_password, user_cellphone, user_role, use_yn
        from user
        where user_email = #{userEmail}
    </select>


</mapper>